.header {
    background: var(--main-background-color);
    padding: 24px 0 38px;
}

.header_template {
    padding: 24px 0;
    background: var(--background-color);
}

.header__menu-icon {
    position: absolute;
    top: 20px;
    left: 16px;
    cursor: pointer;
    display: none;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding-bottom: 38px;
}

.header__logo-svg {
    fill: var(--black);
}

.header__title {
    color: var(--font-color);
    font-family: Inter, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .header__title {
        font-weight: 500;
        font-size: 2.75rem;
    }
}

@media screen and (max-width: 992px) {
    .header__title {
        font-weight: 400;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .header__title {
        font-weight: 400;
        font-size: 2rem;
    }
    .header {
        padding: 17px 0 38px;
    }
    .header__menu-icon {
        display: block;
    }
    .header__inner {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .header__title {
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 38px;
    }
}