.tabs {
	background: var(--main-background-color);
}

.tabs__input {
	position: absolute;
	left: -100vw
}

.tabs__content {
  display: none;
}

.tabs__scroller {
	display: flex;
	gap: 40px;
	overflow: hidden;
}

.tabs__ladel {
	color: var(--black);
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	cursor: pointer;
	white-space: nowrap;
	display: inline-flex;
}

.tabs__ladel:hover,
.tabs__ladel:focus {
	color: var(--black);
	border-bottom: 5px solid var(--black);
	padding-bottom: 8px;
}	

.tabs__input:focus ~ .tabs__scroller 
.tabs__ladel {
	text-decoration: underline;
}

#all-tab:checked ~ .tabs__scroller .tabs__ladel[for="all-tab"],
#elements-tab:checked ~ .tabs__scroller .tabs__ladel[for="elements-tab"],
#containers-tab:checked ~ .tabs__scroller .tabs__ladel[for="containers-tab"],
#html-tab:checked:checked ~ .tabs__scroller .tabs__ladel[for="html-tab"],
#css-tab:checked:checked ~ .tabs__scroller .tabs__ladel[for="css-tab"] {
	color: var(--black);
	border-bottom: 5px solid var(--black);
	padding-bottom: 8px;
}

#all-tab:checked ~ .tabs__section .tabs__content_all-tab,
#elements-tab:checked ~ .tabs__section .tabs__content_elements,
#containers-tab:checked ~ .tabs__section .tabs__content_containers,
#html-tab:checked ~ .tabs__section .tabs__content_html-code,
#css-tab:checked ~ .tabs__section .tabs__content_css-code {
	display: block;
}