/* Стилизация кнопки */
.button {
    border-radius: 0.5rem;
    padding: 14px 16px;
    height: 48px;
    flex-shrink: 0;
    text-align: center;
    font-family: Roboto, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 500ms ease-in-out;
}

.button_primary {
    background: var(--primary);
    color: var(--white);
}

.button_primary:enabled:hover {
    background: #2342C0;
}

.button_secondary {
    background: var(--secondary);
    color: var(--white);
}

.button_secondary:enabled:hover {
    background: #5028C6;
}

.button_alternate {
    border: 1px solid var(--grey-3);
    color: var(--font-color);
}

.button_alternate:enabled:hover {
    border-color: var(--black);
    transition: border 500ms linear;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}