.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(196, 196, 196, 0.5);
	display: none;
}

.modal__close-icon {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 12px;
	right: 12px;
	cursor: pointer;
}

.modal__close-icon:hover {
	fill: var(--grey-4);
}

.modal__window {
	border-radius: 8px;
	background: var(--bg-component);
	width: 428px;
	height: 294px;
	padding: 30px 40px 33px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal__title {
	color: #334D6E;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	margin: 0;
	padding-bottom: 14px;
}

.modal__text {
	color: var(--font-color);
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}

@media screen and (max-width: 768px) {
	.modal__window {
		width: 370px;
		height: 350px;
	}
}