.main {
	background: var(--background-color);
}

.main__sections {
	padding: 36px 0 0;
	height: 100%;
	display: grid;
	grid-template-columns: 229px 1fr;
	grid-column-gap: 56px;
}

.main__component {
	border-radius: 12px;
  background: var(--bg-component);
  box-shadow: 0 2px 4px 0 rgba(33, 36, 41, 0.05);
}

.main__container {
	max-width: 677px;
	margin: 0;
  padding: 32px 42px 64px;
}

.main__title {
	color: var(--grey-4);
	font-family: Inter;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 38px;
	margin: 0;
}

.main__title_component {
	margin: 25px 0;
	text-transform: uppercase;
	color: var(--grey-3);
}

.main__component-box {
	padding: 24px 0 32px;
}

@media screen and (max-width: 992px) {
	.main__sections {
		grid-template-columns: 175px 1fr;
		grid-column-gap: 24px;
	}
}

@media screen and (max-width: 768px) {
	.main__sections {
		grid-template-columns: 1fr;
	}
}