.code {
	color: var(--font-color);
	display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
	.code {
		max-width: 576px;
		overflow-x: auto;
	}
}

@media screen and (max-width: 576px) {
	.code {
		max-width: 350px;
	}
}