@import '../fonts/fonts.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/main/main.css';
@import '../../components/tabs/tabs.css';
@import '../../components/sidebar/sidebar.css';
@import '../../components/footer/footer.css';
@import '../../components/container/container.css';
@import '../../05-lection3/01-tooltip/tooltip.css';
@import '../../05-lection3/02-modal/modal.css';
@import '../../03-lection1/01-button/button.css';
@import '../../09-lection7/01-burger-menu/mobile-menu.css';
@import '../../06-lection4/01-avatar/avatar.css';
@import '../../05-lection3/03-calendar/calendar.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../07-lection5/01-checkbox/checkbox.css';
@import '../../07-lection5/02-radio/radio.css';
@import '../../07-lection5/04-input/input.css';
@import '../../components/dark-mode/dark-mode.css';
@import '../../07-lection5/03-toggler/toggler.css';
@import '../../components/grid-container/grid-container.css';
@import '../../components/code/code.css';
@import "normalize.css";

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --notification: #D84910;
    --background-color: #F9FAFC;
    --font-color: #212429;
    --bg-component: #ffffff;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}
