.calendar {
	border: 1px solid var(--grey-3);
	border-radius: 8px;
	padding: 28px 26px 32px;
}

.calendar__title {
	color: #334D6E;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	margin: 0;
	padding-bottom: 24px;
	text-align: center;
}

.calendar__wrapper {
	padding-bottom: 100%;
	position: relative;
}

.calendar__inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #334D6E;
	font-family: Source Sans Pro;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}

.calendar__item_days {
	color: #90A0B7;
	font-family: Inter;
	font-size: 14px;
}

.calendar__item_active {
	background: var(--blue);
	color: var(--white);
}

.calendar__item_between {
	background: rgba(158, 175, 245, 0.2);
}