.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 40px 24px 24px;
}

.skeleton__header {
    display: flex;
    padding-bottom: 24px;
}

.skeleton__avatar {
    border-radius: 50%;
    
    height: 64px;
    width: 64px;
    flex: none;
    margin-right: 16px;
}

.skeleton__avatar,
.skeleton__line {
    animation-name: bg-loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    background-position: -50%;
    background: linear-gradient(93deg, #DDE2E5 6.44%, #bdbdbd 38.47%, #DDE2E5 56.48%, #d1d1d1 77.5%, #DDE2E5 102.52%);
    background-size: 200%;
}

.skeleton__line-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    row-gap: 8px;
}

.skeleton__line {
    height: 20px;
}

.skeleton__line_short {
    width: 50%;
}

.skeleton__line_medium {
    width: 75%;
}

@keyframes bg-loading {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}