.footer {
    background: var(--white);
}

.footer_template {
    background: #F9FAFC;
}

.footer__title {
    margin: 0 auto;
    color: var(--black);
    font-family: Inter, serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    padding: 71px 0 32px;
    text-align: center;
}

.footer_template .footer__title {
    padding: 92px 0 56px;
    color: var(--grey-3);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.footer__text {
    max-width: 640px;
    margin: 0 auto;
    color: var(--black);
    text-align: center;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 136px;
}

@media screen and (max-width: 1200px) {
    .footer__title {
        font-size: 2.25rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 992px) {
    .footer__title {
        font-size: 2rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 768px) {
    .footer__title {
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 24px;
    }
     .footer__text {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 32px;
    }
}